* {

	padding: 0px;
	margin: 0px;
}

body {

	background-image: url('foto/background.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

}

header {

	width: 1000px;
	margin: 0 auto;
	align-self: center;

}

#logo {

	background: linear-gradient(to bottom, #aeceef -11%, #ffffff 100%);
	position: relative;
	width: 1000px;
	height:113px;
	margin-top: 15px;

}

.tatry_logo {

	border: 0;
	width: auto;
	height:100px;
	position: absolute;
	left: 10px;
	top: 10px;
}


#quotation {

	position: absolute;
	right: 20px;
	top: 20px;
	color: #13234c;
	

}


tr.quot {

	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	text-align: center;

}

tr.author {

	font-size: 12px

}

/* MENU TOP */

nav.menu {

	position:absolute;
	bottom: -3px;
	left:120px;

}

#main_menu li {

	list-style-type: none;
	float: left;
}

#main_menu li a {

	background-color: #072f59;
	height: 31px;
	display: inline-block;
	float: left;
	padding: 0px 15px;
	color: #ffffff;
	font-size: 15px;
	border: 1px solid white;
	;

}

span.link {

	display: inline-block;
	margin-top: 7px;
}

#main_menu li a:hover {

	background-color: #a8d9ea;
	color: black;
}

/* MENU TOP FINISH */
/*LOWER MENU */

section {

	width: 1004px;
	margin: 0 auto;
	align-self: center;
	position:relative;
}

#panorama {

	width: 1000px;
	height: auto:
	z-index: 2;

}

#lower_menu {

	z-index: 1;
	position: absolute;
	top: 0px;
	left: 140px;
}

#lower_menu li {

	list-style-type: none;
	float: left;

}

#lower_menu li a {

	background-color: #072f59;
	height: 31px;
	display: inline-block;
	float: left;
	padding: 0px 15px;
	color: #ffffff;
	font-size: 15px;
	border: 1px solid white;
	
}
/* article*/

article.text {

	width: 1000px;
	height: 600px;
	position: relative;
	background-color: blue;
	align-self: center;
	margin: 0 auto;

}